@layer base {
 body {
  font-family: var(--font);
  font-optical-sizing: auto;
  font-size: var(--text-p-fluid);
  color: var(--page-text);
  background-color: var(--bg-color);
 }

 a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
 }

 button,
 [type="button"],
 [type="submit"],
 .btn-primary {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  transition: var(--transition);
 }

 input,
 textarea {
  width: 100%;
  padding: 14px 18px;
  border: 1px solid #9fabba;
  background-color: rgb(242, 246, 249);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-cyan-900);
  transition:
   border-color 0.2s,
   box-shadow 0.2s;
 }

 input:focus,
 textarea:focus {
  outline: none;
  border-color: #3b82f6;
  border-width: var(--focus-width);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
 }

 h1 {
  font-size: var(--text-h1-fluid);
 }
 h2 {
  font-size: var(--text-h2-fluid);
 }
 h3 {
  font-size: var(--text-h3-fluid);
 }
 h4 {
  font-size: var(--text-h4-fluid);
 }

 .lead {
  font-size: var(--text-lead-fluid);
 }
}
